* {
    border: 1px solid grey;
    padding: 0px;
    margin: 0px;
}

/* Display flex and positioning stuff */

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 24px;
    padding-left: 24px;
}

li {
    padding-right: 24px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text {
    padding-left: 24px;
    flex-grow: 1;
    width: 40vw;
}

.profile {
    padding-right: 24px;
}


/* Other styling stuff ... I know it's not the best way to organise my CSS but give me a break here :(*/


.hero {
    background-color: #1f2973;
}

.intro-text > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.intro-text > p, ol {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

ul, ol {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 800;
    text-decoration: none;
}

li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

figcaption {
    font-size: 18px;
    color: #1f2937;

}   

.content > h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.content-quote {
    background-color: #e5e7eb;
}

.content-quote > blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
    font-style: italic;
}

.content-sign-up, .content-sign-up > button {
    background-color: #3882f6;
}