* {
    /* border: 1px solid grey; */
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}       

/* Display flex and positioning stuff */

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 24px;
    padding-left: 24px;
}

li {
    padding: 12px;
}

h2, h3 {
    padding-bottom: 12px;
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.intro-text {
    padding-left: 24px;
    flex-grow: 1;
    width: 40vw;
}

.profile {
    margin: 24px;
    border: 3px solid whitesmoke;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 48px 0 0 0;
}

.content h2 {
    text-align: center;
}

.content-images {
    display: flex;
    justify-content: space-around;
    padding: 48px 0;
}

.card {
    width: 256px;
}

figcaption {
    text-align: center;
}

blockquote {
    padding: 48px;
}

.content-sign-up {
    margin: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
}

/* Other styling stuff ... I know it's not the best way to organise my CSS but give me a break here :(*/


.hero {
    background-color: #1f2973;
}

.intro-text > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.intro-text > p, ol {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

ul, ol {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 800;
    text-decoration: none;
}

li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

figcaption {
    font-size: 18px;
    color: #1f2937;

}

.site {
    border: 3px solid #3882f6;
    border-radius: 10px;
}
.content > h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.content-quote {
    background-color: #e5e7eb;
}

span {
    font-style: italic;
    font-weight: 800;
}

.content-quote > blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
    font-style: italic;
}

.content-sign-up {
    border-radius: 15px;
}

.content-sign-up, .content-sign-up > button {
    background-color: #3882f6;
    color: #e5e7eb;
}

button {
    font-size: 200%;
    font-weight: 800;
    border: 2px solid whitesmoke;
    padding: 12px;
    border-radius: 25px;
}

footer {
    background-color: #1f2973;
    padding: 24px;
}

footer p {
    color: #e5e7eb;
    text-align: center;
}